$green : #41523C;
$cream : #EDF1D6;
$dark : #0000007a;


html {
    overflow: scroll;
    font-size: 20px;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    &:hover{
        font-size: larger;
        transition: 500ms ease-in-out;
    }
}

p{
    font-family: 'Nunito', sans-serif;
}

h1{
    font-family: 'Playfair Display', serif;
}

.flex{
    display: flex;
}

.dark{
    color: $dark;
    text-shadow: black;
}